<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    tools:context="com.example.android.musicquiz.MainActivity">

    <ImageView
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:layout_alignParentEnd="true"
        android:layout_alignParentRight="true"
        android:layout_alignParentTop="true"
        android:scaleType="centerCrop"
        android:src="@drawable/music5"/>

    <ScrollView
        android:id="@+id/ScrollView01"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:fillViewport="true"
        android:scrollbars="none">

        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:orientation="vertical">

            <TextView
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:text="@string/app_name"
            android:layout_marginTop="@dimen/topMargin"
            android:gravity="center"
            android:textSize="@dimen/titleTextSize"
            />

            <TextView
            android:id="@+id/q1"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:textSize="@dimen/qTextSize"
            android:text="@string/q1"
            android:padding="@dimen/qPadding"/>

            <RadioGroup
                android:id="@+id/radioGroup1"
                android:layout_width="match_parent"
                android:layout_height="wrap_content">

                <RadioButton
                    android:id="@+id/radioB11"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer1.1"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB12"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer1.2"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB13"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer1.3"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB14"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer1.4"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
            </RadioGroup>

            <TextView
                android:id="@+id/q2"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textSize="@dimen/qTextSize"
                android:text="@string/q2"
                android:padding="@dimen/qPadding"/>

            <RadioGroup
                android:id="@+id/radioGroup2"
                android:layout_width="match_parent"
                android:layout_height="wrap_content">

                <RadioButton
                    android:id="@+id/radioB21"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer2.1"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB22"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer2.2"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB23"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer2.3"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB24"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer2.4"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
            </RadioGroup>

            <TextView
                android:id="@+id/q3"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textSize="@dimen/qTextSize"
                android:text="@string/q3"
                android:padding="@dimen/qPadding"/>

            <RadioGroup
                android:id="@+id/radioGroup3"
                android:layout_width="match_parent"
                android:layout_height="wrap_content">

                <RadioButton
                    android:id="@+id/radioB31"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer3.1"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB32"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer3.2"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB33"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer3.3"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB34"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer3.4"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
            </RadioGroup>

            <TextView
                android:id="@+id/q4"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textSize="@dimen/qTextSize"
                android:text="@string/q4"
                android:padding="@dimen/qPadding"/>

            <RadioGroup
                android:id="@+id/radioGroup4"
                android:layout_width="match_parent"
                android:layout_height="wrap_content">

                <RadioButton
                    android:id="@+id/radioB41"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer4.1"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB42"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer4.2"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB43"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer4.3"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB44"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer4.4"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
            </RadioGroup>

            <TextView
                android:id="@+id/q5"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textSize="@dimen/qTextSize"
                android:text="@string/q5"
                android:padding="@dimen/qPadding"/>
            <EditText
                android:id="@+id/editTextAnswer51"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_marginLeft="@dimen/qPadding"
                android:textColor="@color/textColor"
                android:hint="Please fill the answer"
                />

            <TextView
                android:id="@+id/q6"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textSize="@dimen/qTextSize"
                android:text="@string/q6"
                android:padding="@dimen/qPadding"/>

            <RadioGroup
                android:id="@+id/radioGroup6"
                android:layout_width="match_parent"
                android:layout_height="wrap_content">

                <RadioButton
                    android:id="@+id/radioB61"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer6.1"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB62"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer6.2"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB63"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer6.3"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB64"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer6.4"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
            </RadioGroup>

            <TextView
                android:id="@+id/q7"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textSize="@dimen/qTextSize"
                android:text="@string/q7"
                android:padding="@dimen/qPadding"/>
            <CheckBox
                android:id="@+id/checkB71"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="@string/answer7.1"
                android:textColor="@color/textColor"
                android:textSize="@dimen/answerTextSize"
                android:layout_marginLeft="@dimen/qPadding"/>
            <CheckBox
                android:id="@+id/checkB72"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="@string/answer7.2"
                android:textColor="@color/textColor"
                android:textSize="@dimen/answerTextSize"
                android:layout_marginLeft="@dimen/qPadding"/>
            <CheckBox
                android:id="@+id/checkB73"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="@string/answer7.3"
                android:textColor="@color/textColor"
                android:textSize="@dimen/answerTextSize"
                android:layout_marginLeft="@dimen/qPadding"/>
            <CheckBox
                android:id="@+id/checkB74"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="@string/answer7.4"
                android:textColor="@color/textColor"
                android:textSize="@dimen/answerTextSize"
                android:layout_marginLeft="@dimen/qPadding"/>

            <TextView
                android:id="@+id/q8"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textSize="@dimen/qTextSize"
                android:text="@string/q8"
                android:padding="@dimen/qPadding"/>

            <RadioGroup
                android:id="@+id/radioGroup8"
                android:layout_width="match_parent"
                android:layout_height="wrap_content">

                <RadioButton
                    android:id="@+id/radioB81"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer8.1"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB82"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer8.2"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB83"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer8.3"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB84"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer8.4"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
            </RadioGroup>

            <TextView
                android:id="@+id/q9"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textSize="@dimen/qTextSize"
                android:text="@string/q9"
                android:padding="@dimen/qPadding"/>

            <RadioGroup
                android:id="@+id/radioGroup9"
                android:layout_width="match_parent"
                android:layout_height="wrap_content">

                <RadioButton
                    android:id="@+id/radioB91"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer9.1"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB92"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer9.2"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB93"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer9.3"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB94"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer9.4"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB95"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer9.5"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
            </RadioGroup>

            <TextView
                android:id="@+id/q10"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textSize="@dimen/qTextSize"
                android:text="@string/q10"
                android:padding="@dimen/qPadding"/>

            <RadioGroup
                android:id="@+id/radioGroup10"
                android:layout_width="match_parent"
                android:layout_height="wrap_content">

                <RadioButton
                    android:id="@+id/radioB101"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer10.1"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB102"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer10.2"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB103"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer10.3"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
                <RadioButton
                    android:id="@+id/radioB104"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="@string/answer10.4"
                    android:textColor="@color/textColor"
                    android:textSize="@dimen/answerTextSize"
                    android:layout_marginLeft="@dimen/qPadding"/>
            </RadioGroup>

            <EditText
                android:id="@+id/name_field"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:inputType="textCapWords"
                android:textColor="@color/textColor"
                android:hint="Please fill your Name"
                />

                 <LinearLayout
                     android:layout_width="match_parent"
                     android:layout_height="wrap_content"
                     android:orientation="horizontal">
                     <Button
                         android:layout_width="match_parent"
                         android:layout_height="wrap_content"
                         android:textColor="@color/textColor"
                         android:layout_weight="1"
                         android:text="@string/submitButton"
                         android:onClick="answers"/>
                     <Button
                         android:layout_width="match_parent"
                         android:layout_height="wrap_content"
                         android:textColor="@color/textColor"
                         android:layout_weight="1"
                         android:text="@string/resetButton"
                         android:onClick="reset"
                        />
                 </LinearLayout>

        </LinearLayout>

    </ScrollView>

</RelativeLayout>
